---
import BaseLayout from "../layouts/BaseLayout.astro";
import TimeLineElement from "../components/cv/TimeLine.astro";
---

<BaseLayout title = "Resume">
  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Profile</div>
  </div>

  <div class="mb-10 text-justify">
    Constantly learning master's student in UXUI design and research, with expertise in user research, interaction design, and customer experience management. I am proficient in using design software such as Figma, Adobe series, and other tools for prototyping and designing visual effects. Throughout the design process, I prioritize user experience and use user research to understand user needs and behaviors, and develop design solutions based on research results. 
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Education</div>
  </div>

  <div class="time-line-container grid gap-4 mb-10">
    <TimeLineElement
      title="M.B.A. Specialized in Service Innovation and Design"
      subtitle="2022 to present at Institution of Service Science, National Tsing-Hua University (NTHU), Taiwan"
    />
    <TimeLineElement
      title="B.B.A. Double Major in Management and Laws"
      subtitle="2018 to 2022 at College of Technology and Management, National Tsing-Hua University (NTHU), Taiwan"
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Experience</div>
  </div>

  <div class="time-line-container mb-10">
    <TimeLineElement
      title="User Experience Research Intern"
      subtitle="From 2022.07 to 2022.08 at TDRI, Taipei, Taiwan"
      desc="In this project, I conducted research related to the cruise industry, with a focus on identifying key indicators for cruise spaces and proposing marketing strategies. Through various research methodologies, including case studies, field research, and usability tests, I gained a deeper understanding of the challenges faced by Maritime Authorities in regulating cruise spaces and the importance of improving guest experience, safety, and accessibility. The insights gained from this research will inform future decision-making in the industry and aid in the development of effective marketing strategies."
    />
    <TimeLineElement
      title="Event planing and Visual Design"
      subtitle="From 2020 to present at TINVA, Hsinchu, Taiwan"
      desc="In my role, I had the opportunity to contribute to the design and execution of 10 meetings with over 10,000 participants. Specifically, I assisted in designing the activity process for these events, which involved extensive planning, coordination, and attention to detail. Additionally, I was tasked with creating main vision and throwback videos that served to enhance the association's image and showcase its mission and values. "
    />
    <TimeLineElement
      title="Director of Public Relation/ Co-founding team  "
      subtitle="From 2021.06 to 2022.07 at Consulting Group, NTHU, Hsinchu, Taiwan"
      desc="I secured operating sponsorships and expanded partnerships by adding 5 new partners, while also supervising 15 speakers and hosting 6 successful thematic coffee chats. My efforts helped to enhance the organization's reputation and drive its mission forward."
    />
    <TimeLineElement
      title="Customer Experience Manager"
      subtitle="From 2018.10 to 2020.02 at AIESEC, NTHU, Hsinchu, Taiwan"
      desc="I managed international volunteer programs, including interviews and learning journeys for 100 volunteers and an international camp with 100 participants. I also collaborated with NGOs and schools to design SDG-aligned projects, promoting cross-cultural understanding and driving positive social and environmental change."
    />
  </div>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Honor</div>
  </div>

  <ul class="list-disc mx-6 mb-10 grid gap-2">
    <li>
      <a href="https://news.ltn.com.tw/news/life/breakingnews/3956978" target="_blank"> Mei Yi-Qi Medal: The highest honor for graduates in NTHU.</a>
    </li>
    <li>
      <a href="" target="_blank">4 times Presidential Outstanding Academic and Achievement Award: Awarded to top 5 percent students.</a>
    </li>
    <li>
      <a href="" target="_blank">2020 ATCC Case Competition Top 25% Team.</a>
    </li>
    <li>
      <a href="https://drive.google.com/file/d/1aTdSWE0dKtu8zGYU16Zzl1UlqCR_HxUV/view?usp=share_link" target="_blank">2019 National College Competition in Business Ethics Case Analysis (NCCBE) : English Case Analysis Honorable Mention award.</a>
    </li>
  </ul>

  <div class="mb-5">
    <div class="text-3xl w-full font-bold">Skills</div>
  </div>

  <ul class="list-disc md:columns-5 columns-2 mx-6">
    <li>Chinese (Native)</li>
    <li>English </li>
    <li>UIUX Design</li>
    <li>UIUX Research</li>
    <li>Office Suite</li>
    <li>Adobe Illustrator</li>
    <li>Adobe Photoshop</li>
    <li>Figma</li>
    <li>Blender</li>
    <li>AutoCAD</li>

    
  </ul>
</BaseLayout>
